.button {
  position: relative;
  background-color: rgb(61, 102, 189);
  color: aliceblue;
  width: 20%;
  height: 3rem;
  margin-left:15%;
  margin-right:15%;
  cursor: pointer;
  left: 350px;
  top: -96px;
}